
/* ------------------------------------------------------------ RESET */

*,
*::before,
*::after {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 10px;
}

input,
button,
select {
  font: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------------------------------------------------- GENERAL */

body {
	display: grid;
	gap: 100px;
	grid-auto-flow: column;
	min-height: 100vh;
	place-content: center;
	place-items: center;
	width: 100%;
}

/* ------------------------------------------------------------- GRID */

.grid {
	aspect-ratio: 1;
	background-color: #FFFFFF;
	display: grid;
	gap: 5px;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	width: 400px;
}

.grid.deactivated {
	position: relative;
}

.grid.deactivated::before {
	background-color: rgba(0, 0, 0, .125);
	content: '';
	height: 100%;
	position: absolute;
	width: 100%;
}

.square {
	aspect-ratio: 1;
	background-color: #EEEEEE;
}
